
[Unit]
Description=lan-monitor
Documentation=https://example.com
After=network.target

[Service]
Environment=NODE_PORT=3334
Type=simple
User=pi
WorkingDirectory=/home/pi/wa/lan-monitor
ExecStart=/opt/node/bin/npm start
Restart=on-failure
StandardOutput=append:/tmp/lan-monitor.log
StandardError=append:/tmp/lan-monitor.log

[Install]
WantedBy=multi-user.target
